.policyItem {
    max-width: 350px;
    text-align: start;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.policyItem--icon {
    font-size: 2rem;
    color: $light-wisteria;
}

.policyItem--content {
    font-weight: bold;
}

/* media queries */

@media (max-width: 1024px) {
    .policyItem {
        max-width: 270px;
    }
}

@media (max-width: 768px) {
    .policyItem {
        max-width: 240px;
        font-size: 1rem;
    }

    .LayoutSection__item-container:has(.policyItem) {
        flex-wrap: nowrap;
    }
}

@media (max-width: 425px) {
    .policyItem {
        max-width: 350px;
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
    }
}