.policyItem {
    max-width: 300px;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 400;
    // border: 2px solid;
    padding: 10px;
}

.policyItem--icon {
    font-size: 2rem;
    color: $light-wisteria;
}

.policyItem--content {
}